//==== Default variables ===//

//breakpoints
//these vars used in breakpoint mixin
$bp-lg  : 1440px;
$bp-md  : 1280px;
$bp-sm  : 1024px;
$bp-xs   : 640px;
$bp-xxs  : 320px;


//colors
$white: #fff;
$black:#353535;
$red:#b5121b;
$dark-gray:#353535;
$trans-black:rgba(0, 0, 0, 0.8);