// silent classes
%full-width {
	width: 100%;
}

.section, .page {
	@extend %full-width;
}
.page {
	min-height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .bar {
  	padding-top: 1em;
  	padding-bottom:1em;
  }
}

//texts 
.text-white {
	color:$white;
}
.text-red {
	color:$red;
}

//backgrounds 
.bg-white {
	background:$white
}
.bg-black {
	background:$black;
}
.bg-trans-black{
  // background: $trans-black;
   background: rgba($dark-gray, .7);
}

.bg-trans-graydark {
  background: rgba($dark-gray, .7);
}

.pd-top-2 {
  padding-top: 2em;
}
.mg-top-10 {
  margin-top: 10em;
}
.mg-top-6 {
  margin-top: 5em;
}
.center {
  text-align: center;
}

.btn-red {
  background-color: $red;
  color:$white;
  border-radius:0;
  &:hover {
    background-color:$black;
    color:$white;
  }
}